# This .gitignore file lists content that does NOT need to be tracked in the project history

# Python virtual environment folder
.venv/
.env

# Visual Studio Code settings and workspace folder
.vscode/

# Compiled Python files
__pycache__/
get_spotify_token.py
my_streaming_data.py
token_cache.json
spotify_auth.py

# macOS system files
.DS_Store

# Jupyter Notebook checkpoint files
.ipynb_checkpoints
